@import "tailwindcss";
@import "./cabinet-grotesk.css";

@theme {
    --font-primary-thin: "CabinetGrotesk-Thin", sans-serif;
    --font-primary-regular: "CabinetGrotesk-Regular", sans-serif;
    --font-primary-extrabold: "CabinetGrotesk-Extrabold", sans-serif;
    --color-primary-50: oklch(95.74% 0.017 293.22);
    --color-primary-100: oklch(92.55% 0.03 294.2);
    --color-primary-200: oklch(84.85% 0.063 294.22);
    --color-primary-300: oklch(77.51% 0.097 294.16);
    --color-primary-400: oklch(70.15% 0.13 293.49);
    --color-primary-500: oklch(62.76% 0.164 293.02);
    --color-primary-600: oklch(55.45% 0.194 292.41);
    --color-primary-700: oklch(47.05% 0.2 291.48);
    --color-primary-800: oklch(38.97% 0.164 291.96);
    --color-primary-900: oklch(30.74% 0.13 291.77);
    --color-primary-950: oklch(26.98% 0.114 291.68);
    --color-complementary-50: oklch(96.05% 0.024 340.37);
    --color-complementary-100: oklch(92.78% 0.045 339.65);
    --color-complementary-200: oklch(85.59% 0.098 338.99);
    --color-complementary-300: oklch(78.81% 0.155 339.4);
    --color-complementary-400: oklch(71.8% 0.222 339.39);
    --color-complementary-500: oklch(63.72% 0.257 339.5);
    --color-complementary-600: oklch(55.64% 0.224 339.7);
    --color-complementary-700: oklch(47.52% 0.192 339.47);
    --color-complementary-800: oklch(36.4% 0.146 339.63);
    --color-complementary-900: oklch(25.53% 0.103 340);
    --color-complementary-950: oklch(19.9% 0.08 339.73);
    --color-secondary-50: oklch(96.57% 0.011 24.46);
    --color-secondary-100: oklch(94.1% 0.019 25.69);
    --color-secondary-200: oklch(87.63% 0.044 26.85);
    --color-secondary-300: oklch(81.68% 0.068 27.75);
    --color-secondary-400: oklch(75.64% 0.099 30.41);
    --color-secondary-500: oklch(66.31% 0.145 34.83);
    --color-secondary-600: oklch(55.59% 0.123 34.37);
    --color-secondary-700: oklch(44.99% 0.099 34.3);
    --color-secondary-800: oklch(34.57% 0.075 34.91);
    --color-secondary-900: oklch(24.8% 0.055 34.81);
    --color-secondary-950: oklch(19.16% 0.043 33.81);
    --color-tertiary-50: oklch(97.55% 0.016 64.69);
    --color-tertiary-100: oklch(94.92% 0.033 63.05);
    --color-tertiary-200: oklch(85.85% 0.111 70.59);
    --color-tertiary-300: oklch(77.41% 0.162 76.55);
    --color-tertiary-400: oklch(68.67% 0.144 76.4);
    --color-tertiary-500: oklch(59.21% 0.124 76.51);
    --color-tertiary-600: oklch(50.47% 0.106 76.83);
    --color-tertiary-700: oklch(40.77% 0.086 75.75);
    --color-tertiary-800: oklch(32.18% 0.067 77.5);
    --color-tertiary-900: oklch(22.46% 0.047 76.03);
    --color-tertiary-950: oklch(17.9% 0.037 79.01);
}
